version: "3.3"

services:
  web:
    container_name: nginx-stock
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./site.conf:/etc/nginx/conf.d/default.conf
    links:
      - php-fpm

  php-fpm:
    container_name: php-stock
    image: php:8.1-fpm
    volumes:
      - ./:/var/www/html
